<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% comment %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/library.css' %}" />
    <title>Library</title>
  </head>
  <body>
    <header>
      <h1>
        <a class="link" href="{% url 'library:home' %}">Library</a>
      </h1>
      <nav class="flexed flexed-gap-2 flexed-hr-apart flexed-wrap-revrs">
        <ul class="list">
          <li class="list-item list-item-link">
            <a class="link link-btn" href="{% url 'library:book-list' %}">All Books</a>
          </li>
          <li class="list-item list-item-link">
            <a class="link link-btn" href="{% url 'library:user-book-list' %}">My Books</a>
          </li>
          <li class="list-item list-item-link">
            <a class="link link-btn" target="blank" href="{% url 'library:api-root' %}">Books API</a>
          </li>
        </ul>
        {% if request.user.is_authenticated %}
          <div class="flexed flexed-gap">
            <a class="link link-btn" href="{% url 'account:home' %}">{{request.user}}</a>
            <a class="link link-btn link-btn-filled-danger" href="{% url 'account:logout' %}">Logout</a>
          </div>
        {% else %}
          <a class="link link-btn" href="{% url 'account:login' %}">Login</a>
        {% endif %}
      </nav>
    </header>
    <main>
      {% block content_library %}{% endblock content_library %}
    </main>
    <footer></footer>
  </body>
</html>
