{% extends 'library/base.html' %}

{% block content_library %}
<div class="library-container">
  {% if books is not None %}
    <h2>Books</h2>
    <div class="container-list">
      {% for book in books %}
        <div class="container-item">
          <a class="link link-container" href="{{book.get_absolute_url}}">
            <h3>{{book}}</h3>
            <p>Book Language - {{book.get_language_display}}</p>
            <p>
              {% if book.assigned_user %}
                {% if book.assigned_user == request.user %}
                  Read this book
                {% else %}
                  <span class="danger">Not Available</span>
                {% endif %}
              {% else %}
                <span class="success">Available</span>
              {% endif %}
            </p>
          </a>
        </div>
      {% empty %}
      <h3>No Book Found.</h3>
      {% endfor %}
    </div>
  {% endif %}
  
  
  {% if book %}
    <div class="book-container">
      <h3>About the book</h3>
      <p>
        <span class="text-bold">{{book.title}}</span>
        published on <span class="text-bold">{{book.published_date|date}}</span>
        by <span class="text-bold">{{book.author}}</span>
        in <span class="text-bold">{{book.get_language_display}}</span> language
        published in <span class="text-bold">{{book.publisher}}</span>.
      </p>
      {% if book.assigned_user %}
        {% if book.assigned_user == request.user %}
          <p>You have this book. Continue reading.</p>
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="assign_to_me" value="False" id="id_assign_to_me">
            <input class='btn link-btn-filled-danger' type="submit" value="Return">
          </form>
        {% else %}
          <p>Someone else have this book. Check again later.</p>
        {% endif %}
      {% else %}
        {% if form %}
          <form method="POST">
            {% csrf_token %}
            {{form.assign_to_me}}
            <input class='btn link-btn-filled' type="submit" value="Issue this book">
          </form>
        {% endif %}
      {% endif %}
    </div>
  {% endif %}

</div>
{% endblock content_library %}