*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

.flexed {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flexed.flexed-wrap-revrs {
  flex-wrap: wrap-reverse;
}
.flexed.flexed-revrs {
  flex-direction: row-reverse;
}
.flexed.flexed-hr-apart {
  justify-content: space-between;
}
.flexed.flexed-hr-evenly {
  justify-content: space-evenly;
}
.flexed.flexed-gap {
  gap: 0.5rem;
}
.flexed.flexed-gap-2 {
  gap: 1rem;
}

.font-icon{
  color: inherit;
  font-size: inherit;
}
.font-icon.md-48{
  font-size: 48px;
}
.font-icon.md-36{
  font-size: 36px;
}
.font-icon.md-24{
  font-size: 24px;
}
.font-icon.md-18{
  font-size: 18px;
}
.font-icon-btn{
  border-radius: 50%;
  padding: 0.5rem;
}

.danger {
  color: #b60c00;
}
.success {
  color: #07a314;
}

.link {
  text-decoration: none;
  color: #1a73e8;
}
.btn {
  cursor: pointer;
  border: none;
  padding: 0.3rem 0.5rem;
  margin: 1rem;
  border-radius: 4px;
}
.link-btn {
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
}
.link-btn:hover {
  background-color: #dbeaff;
}
.link-btn-danger{
  color: #ec4236;
}
.link-btn-danger:hover{
  background-color: #ffb6b0;
}
.link-btn-filled {
  color: white;
  background-color: #1a73e8;
}
.link-btn-filled-danger {
  color: white;
  background-color: #ec4236;
}
.link-btn-filled-danger:hover {
  color: white;
  background-color: #ec4236;
}

.list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.list-item {
  width: fit-content;
  list-style: none;
}

.list-item-link {
  margin: 0.5rem 0.8rem;
}

.field-row {
  margin: 0.5rem;
  padding: 0.5rem;
}