header {
  padding-bottom: 1rem;
  border-bottom: 1px solid grey;
}

.library-container {
  margin: 1rem auto;
}

.link-container, .container-item {
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

.container-item {
  display: flex;
  padding: 0.5rem;
  border: 1px solid #333333;
  transition: .254s;
}
.container-item:hover {
  transform: scale(1.2);
}

.container-list {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 3rem;
}

.link-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.book-container {
  padding: 1rem;
}

.text-bold {
  font-weight: 700;
}