{% extends 'library/base.html' %}

{% block content_library %}


{% if request.user.is_authenticated %}
  <h3>Logged in as {{request.user}}</h3>
  {% if success_message %}
    <p>{{success_message}}</p>
  {% endif %}
  {% if form %}
    <form method="POST">
      {% csrf_token %}
      <p class="field-row">
        {{form.first_name.label_tag}}
        <input type="text" name="first_name" id="id_first_name" value="{{request.user.first_name}}">
      </p>
      <p class="field-row">
        {{form.last_name.label_tag}}
        <input type="text" name="last_name" id="id_last_name" value="{{request.user.last_name}}">
      </p>
      <p class="field-row">
        {{form.email.label_tag}}
        <input type="email" name="email" id="id_email" value="{{request.user.email}}">
      </p>
      <input class="btn link-btn-filled" type="submit" value="Update">
    </form>
  {% else %}
    <p class="field-row">First Name : <span class="field-value">{{request.user.first_name}}</span></p>
    <p class="field-row">Last Name : <span class="field-value">{{request.user.last_name}}</span></p>
    <p class="field-row">Email Address : <span class="field-value">{{request.user.email}}</span></p>
    <a class="link btn link-btn-filled" href="{% url 'account:update' %}">Change</a>
  {% endif %}
{% endif %}

{% endblock content_library %}