{% extends 'library/base.html' %}


{% block content_library %}
<p>You have been logged out.</p>
<p>Try to
  <a class="link" href="{% url 'account:login' %}">Login</a>
  or
  <a class="link" href="{% url 'account:register' %}">Register</a>
</p>
{% endblock content_library %}